<div class="sheet">
  <div class="cv">
    <app-header></app-header>
    <div>
      <mat-grid-list cols="5" rowHeight="1:5.7">
        <mat-grid-tile colspan="3">
          <div class="m-g-tile first">
            <div>
              <app-about></app-about>
            </div>
            <div>
              <app-studies-jobs></app-studies-jobs>
            </div>
            <div>
              <app-for-lang></app-for-lang>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="m-g-tile second">
            <div>
              <app-skills></app-skills>
            </div>
            <div>
              <app-hobbies></app-hobbies>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
