/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #90a4ae
  ;
  --head-text: black
  ;

  font-size: 1rem;
}

@media (max-width: 425px) {
  :root {
    font-size: 0.4rem;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.mat-grid-tile-content {
  justify-content: inherit;
  align-items: inherit;
}


